{% extends "base.html.twig" %}

{% block title %}symfony CRUD - Home
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
          <h1 class="display-4">Welcome to MyBookList</h1>
          <p class="lead">With this app you can create book lists from book created by you. You'll can share your book lists or keep them private</p>
          <hr class="my-4">
          <p>To start, go to the sign in page</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Sign In</a>
        </div>
    </div>
{% endblock %}
